@import "tailwindcss";

:root {
  --background: #fffcf6;
  --foreground: #171717;
  --primary: #d4a574;
  --shadow: #624f3c;
  --text: #7d5a37;
  --subtext: #333333;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-shadow: var(--shadow);
  --color-text: var(--text);
  --color-subtext: var(--subtext);
  --font-playfair: var(--font-playfair);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer base {
  /* Custom base styles for HTML elements */
}

@layer components {
  /* Custom components */
}

@layer utilities {
  /* Custom utility classes */
}
